/* Placeholder. */
:root {
	--color-text: hsl(215, 15%, 25%);
	--colorbg: hsl(215, 40%, 120%);
	--color1: hsl(215, 40%, 75%);
	--color1-hover: hsl(215, 40%, 85%);
	--color2: hsl(215, 40%, 85%);
	--color2-hover: hsl(215, 40%, 95%);
	--color3: hsl(215, 40%, 95%);
	--color3-hover: hsl(215, 40%, 85%);
	--color-icons: invert(25%);
	--color-green: hsl(120, 55%, 65%);
	--color-green-hover: hsl(120, 55%, 55%);
	--color-orange: hsl(40, 100%, 70%);
	--color-red: hsl(0, 70%, 55%);
	--color-red-hover: hsl(0, 70%, 45%);
}
